/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  
}

body {
  margin: 2em;
  background-color: #0b405d
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

a {
  cursor: pointer;
  cursor: hand;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

  button:hover {
    background-color: #cfd8dc;
  }

  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

  nav a:visited, a:link {
    color: #607D8B;
  }

  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }

  nav a.active {
    color: #039be5;
  }

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/*
 * Chessground base css properties.
 *
 * You need to include the css files in themes folder in order to have the
 * board and pieces displayed!
 */

.cg-board-wrap {
  width: 640px;
  height: 640px;
  position: relative;
  display: block;

}
.cg-board-border {
  border: 1px solid #666;
  padding: 10px 10px 10px 10px;
  width: 640px;
  height: 640px
}
.cg-board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0;
  background-size: cover;
  cursor: pointer;
}

  .cg-board square {
    position: absolute;
    top: 0;
    left: 0;
    width: 12.5%;
    height: 12.5%;
  }

    .cg-board square.move-dest {
      background: radial-gradient(rgba(20, 85, 30, 0.5) 22%, #208530 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
    }

    .cg-board square.premove-dest {
      background: radial-gradient(rgba(20, 30, 85, 0.5) 22%, #203085 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
    }

    .cg-board square.oc.move-dest {
      background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 85, 0, 0.3) 80%);
    }

    .cg-board square.oc.premove-dest {
      background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 30, 85, 0.2) 80%);
    }

  .cg-board .cg-square.move-dest.drag-over,
  .cg-board .cg-square.premove-dest.drag-over {
    box-shadow: inset 0 0 10px 2px rgba(216, 85, 0, 0.9);
  }

  .cg-board square.last-move {
    will-change: transform;
    background-color: rgba(155, 199, 0, 0.41);
  }

  .cg-board square.selected {
    background-color: rgba(20, 85, 30, 0.5);
  }

  .cg-board square.check {
    background: radial-gradient(ellipse at center, rgba(255, 0, 0, 1) 0%, rgba(231, 0, 0, 1) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
  }

  .cg-board square.current-premove {
    background-color: rgba(20, 30, 85, 0.5);
  }

.cg-board-wrap piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 12.5%;
  background-size: cover;
  z-index: 2;
  will-change: transform;
  pointer-events: none;
}

.cg-board piece.dragging {
  cursor: move;
  z-index: 9;
}

.cg-board piece.anim {
  z-index: 8;
}

.cg-board piece.fading {
  z-index: 1;
  opacity: 0.5;
}

.cg-board-wrap square.move-dest:hover {
  background-color: rgba(20, 85, 30, 0.3);
}

.cg-board-wrap piece.ghost {
  opacity: 0.3;
}

.cg-board-wrap svg {
  overflow: hidden;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  opacity: 0.6;
}

  .cg-board-wrap svg image {
    opacity: 0.5;
  }

.cg-board-wrap coords {
  position: absolute;
  display: flex;
  pointer-events: none;
  opacity: 0.8;
  font-size: 20px;
}

  .cg-board-wrap coords.ranks {
    right: -15px;
    top: 0;
    flex-flow: column-reverse;
    height: 100%;
    width: 12px;
  }

    .cg-board-wrap coords.ranks.black {
      flex-flow: column;
    }

  .cg-board-wrap coords.files {
    bottom: -16px;
    left: 0;
    flex-flow: row;
    width: 100%;
    height: 16px;
    text-transform: uppercase;
    text-align: center;
  }

    .cg-board-wrap coords.files.black {
      flex-flow: row-reverse;
    }

  .cg-board-wrap coords coord {
    flex: 1 1 auto;
  }

  .cg-board-wrap coords.ranks coord {
    transform: translateY(39%);
  }
/*
 * Board
 */
.blue .cg-board-wrap {
  background-image: url(images/board/blue.svg);
}

.merida .cg-board-wrap piece.pawn.white {
  background-image: url('images/pieces/merida/wP.svg');
}

.merida .cg-board-wrap piece.bishop.white {
  background-image: url('images/pieces/merida/wB.svg');
}

.merida .cg-board-wrap piece.knight.white {
  background-image: url('images/pieces/merida/wN.svg');
}

.merida .cg-board-wrap piece.rook.white {
  background-image: url('images/pieces/merida/wR.svg');
}

.merida .cg-board-wrap piece.queen.white {
  background-image: url('images/pieces/merida/wQ.svg');
}

.merida .cg-board-wrap piece.king.white {
  background-image: url('images/pieces/merida/wK.svg');
}

.merida .cg-board-wrap piece.pawn.black {
  background-image: url('images/pieces/merida/bP.svg');
}

.merida .cg-board-wrap piece.bishop.black {
  background-image: url('images/pieces/merida/bB.svg');
}

.merida .cg-board-wrap piece.knight.black {
  background-image: url('images/pieces/merida/bN.svg');
}

.merida .cg-board-wrap piece.rook.black {
  background-image: url('images/pieces/merida/bR.svg');
}

.merida .cg-board-wrap piece.queen.black {
  background-image: url('images/pieces/merida/bQ.svg');
}

.merida .cg-board-wrap piece.king.black {
  background-image: url('images/pieces/merida/bK.svg');
}
.boardwrapper {
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  padding-left:15px;
  overflow: hidden;
}
.newBoard {
  padding-top:20px
}
.glyphicon.glyphicon-knight {
  font-size: 25px;
  color: #d8a13d;
}
.title {
  color: #ebeeefbf !important;
  font-family: monospace !important;
}
.text {
  color: #7d6f6f !important;
  font-family: monospace !important;
}
.newgamebtn {
  background-color: #e6c589 !important;
  color:white
}
.btn-default {
  border-color: #5bc0de !important;
  color: #8ca2ad !important;
}

.section1 {
  background-color: #ebeeef;
  width: 50%;
  float: left;
  height: calc(100vh - 35px - 22px);
  border-right: 0.3vw solid #0b405d;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section2 {
  background-color: #fafafa;
  width: 50%;
  float: left;
  height: calc(100vh - 35px - 22px);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  line-height: 1 !important;
  font-family: monospace !important;
}
.whitePLayer {
  color:white !important;
  font-size:20px!important
}
.blackPlayer {
  color: black !important;
  font-size:20px !important
}
.dropdown-menu {
   min-width: 0px !important;
}
.selectPiece {
  margin-top: -640px;
  margin-left: 700px;
}
.modal-dialog {
  width: 800px !important; 
  margin: 200px auto !important;
}
.drowpdownli {
  background-color: #eee;
}

