<div style="max-height:20px">
  <i class="glyphicon glyphicon-knight left"></i>
  <h3 class="right title">Շախմատային <span style="color:red">ոչ հստակ</span> վերլուծություն</h3>
</div>

<div class="section1">
  <div style="padding:5px 5px 5px 5px">
    <div style="padding-bottom: 5px" class="left">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="loadPlayers()">Ընտրել պարտիա</button>
    </div>
    <div class="right">
      <button class="btn btn newgamebtn" (click)="setNewGame()">Նոր Խաղ</button>
    </div>
    <div>
      <h4 *ngIf="!isNewBoard" class="text">{{gameName}}</h4>
    </div>

    <div class="blue merida" *ngIf="!isNewBoard">
      <div id="dirty" class="cg-board-wrap"></div>

      <div style="padding-top:25px">
        <button type="button" class="btn btn-default btn-sm" (click)="refreshBoardState()">
          <span class="glyphicon glyphicon-refresh"></span> Թարմացնել
        </button>
        <button type="button" class="btn btn-default btn-sm" (click)="playGame()">
          <span class="glyphicon glyphicon-play"></span> Խաղալ
        </button>
        <button type="button" class="btn btn-default btn-sm" (click)="moveBackward()">
          <i class="glyphicon glyphicon-backward"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" (click)="moveForward()">
          <i class="glyphicon glyphicon-forward"></i>
        </button>
      </div>
    </div>
    <div class="blue merida newBoard" style="display:none" id="emptyboardwrapper">
      <div id="emptyBoard" class="cg-board-wrap"></div>
    </div>
    <div *ngIf="isNewBoard" class="selectPiece">
      <div class="left">
        <select class="btn btn-default dropdown-toggle" ng-model="selectedColor" (change)="selectedColor = $event.target.value">
          <option>Գույնը</option>
          <option value="{{color.White}}">Սպիտակ</option>
          <option value="{{color.Black}}">Սև</option>
        </select>
      </div>
      <div class="dropdown  left">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          Խաղաքարը
          <span class="caret"></span>
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" (click)="setPiece(pieces.Pawn,selectedColor)">Զինվոր</button>
          <button class="dropdown-item" (click)="setPiece(pieces.King,selectedColor)">Արքա</button>
          <button class="dropdown-item" (click)="setPiece(pieces.Queen,selectedColor)">Թագուհի</button>
          <button class="dropdown-item" (click)="setPiece(pieces.Rook,selectedColor)">Նավակ</button>
          <button class="dropdown-item" (click)="setPiece(pieces.Bishop,selectedColor)">Փիղ</button>
          <button class="dropdown-item" (click)="setPiece(pieces.Knight,selectedColor)">Ձի</button>
        </div>
      </div>
      <!--<button  class="btn btn-default dropdown-toggle" (click)="showInitialBoard()">Show initial</button>-->
    </div>

  </div>
</div>
<div class="section2">
  <div style="padding-left:5px">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#summary">Ամփոփում</a></li>
      <li><a data-toggle="tab" href="#concepts">Հասկացություններ</a></li>
    </ul>

    <div class="tab-content">
      <div id="summary" class="tab-pane fade in active">
        <h3>Ամփոփում</h3>
        <ul class="list-group" *ngIf="!isNewBoard">
          <li class="list-group-item list-group-item-info" *ngFor="let pawn of transientPawns">
            <button type="button" class="btn btn-warning" style="font-size: 20px" (click)="onPositionClick(pawn.Position)">
              <i class="glyphicon glyphicon-pawn">{{pawn.Position}}</i>
            </button>
            <span style="padding-left: 5px">{{pawn.ConceptLV}}</span>
          </li>
        </ul>
      </div>
      <div id="concepts" class="tab-pane fade">
        <h3>Հասկացություններ</h3>
        <div class="btn-group">
          <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ընտրել Հասկացություն
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item btn" role="button" (click)="getTransientPawnByFen()">Անցողիկ զինվոր</a>
            <a class="dropdown-item  btn" role="button" (click)="getMateOnKingConcept()">Մատային գրոհ արքայի վրա</a>
            <a class="dropdown-item  btn" role="button" (click)="getDirectMateOnKingConcept()">Ուղիղ գրոհ արքայի վրա</a>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-info" *ngFor="let pawn of transientPawns">
            <button type="button" class="btn btn-warning" style="font-size: 20px" (click)="onPositionClickNewGame(pawn.Position)">
              <i class="glyphicon glyphicon-pawn">{{pawn.Position}}</i>
            </button>
            <span style="padding-left: 5px">{{pawn.ConceptLV}}</span>
          </li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item list-group-item-info" *ngIf="mateOnKing">
            <i class="glyphicon glyphicon-king"></i>
            <span>{{mateOnKing}}</span>
          </li>
          <li class="list-group-item list-group-item-info" *ngIf="directMateonking">
            <i class="glyphicon glyphicon-king"></i>
            <span>{{directMateonking}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ընտրել Պարտիա</h4>
      </div>
      <div class="modal-body">
        <div>
          <select class="btn btn-default dropdown-toggle" ng-model="player1Name" (change)="player1Name=$event.target.value">
            <option selected value="-">Խաղացող 1</option>
            <option *ngFor="let player of players" class="drowpdownli">{{player.Name}}</option>
          </select>
          <select class="btn btn-default dropdown-toggle" style="margin-left: 10px;" ng-model="selectedColor" (change)="selectedColor=$event.target.value">
            <option selected value="-">Գույնը</option>
            <option value="{{color.White}}">Սպիտակ</option>
            <option value="{{color.Black}}">Սև</option>
          </select>
          <select class="btn btn-default dropdown-toggle" style="margin-left: 10px;" ng-model="gameDate" (change)="gameDate=$event.target.value">
            <option selected value="0">Տարեթիվը</option>
            <option *ngFor="let date of dateRange">{{date}}</option>
          </select>
          <select class="btn btn-default dropdown-toggle" style="margin-left: 10px;" ng-model="player2Name" (change)="player2Name=$event.target.value">
            <option selected value="-">Խաղացող 2</option>
            <option *ngFor="let player of players">{{player.Name}}</option>
          </select>
        </div>
        <div class="dropdown" *ngIf="games" style="padding-top: 10px;">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Ընտրել Պարտիան
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu" style="overflow:scroll;max-height:500px;max-width:400px">
            <div *ngFor="let game of games" class="drowpdownli">
              <button class="dropdown-item" (click)="selectGame(game)" data-dismiss="modal">{{getGameName(game)}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="getGames(player1Name,selectedColor,gameDate,player2Name)">Ֆիլտրել</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="player1Name=null;selectedColor=null;gameDate=null">Փակել</button>
      </div>
    </div>

  </div>
</div>
